.nav-link {
    color:white;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 1000;
    font-size: larger;
  }

.nav-link-big {
  color:white;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 1000;
  font-size: xx-large;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

figcaption {
  text-align: center;
}


#markdown-toc {
  background-color: rgb(240, 240, 240);
} 

.picture-missing {
  color: red;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.ul-no-indent {
  padding: 0;
  list-style-type: none;
}